:root {
	--background-color: rgb(24, 28, 35);
	--popup-background-color: rgb(15, 18, 23);
	--thumbnail-background-color: rgb(15, 18, 23);
	--thumbnail-highlighted-background-color: rgb(10, 12, 15);
	--exit-button-color: rgb(116, 26, 26);
}
.cfe-main-display {
	background-color: var(--background-color);
}
.vbox {
	display: flex;
	flex-direction: column;
	justify-content: top;
}
.hbox {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
.cfe-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.cfe-photolang-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}
.cfe-photolang-line {
	display: grid;
}
.cfe-thumbnail:hover {
	cursor: pointer;
	background-color: var(--thumbnail-background-color);
}
.cfe-popup {
	position: absolute;
	width: 90%;
	height: fit-content;
	top: 15%;
	left: 5%;
	padding: 1vh;
	background-color: var(--popup-background-color);
	z-index: 2;
}
.cfe-file-creator-header {
	display: flex;
	flex-direction: row;
	justify-content: left;
}
button.cfe-exit-button {
	position: absolute;
	background-color: var(--exit-button-color);
	top: 0%;
	right: 1%;
}
button:hover {
	cursor: pointer;
}
.cfe-pointer-hover:hover {
	cursor: pointer;
}
.cfe-file-creator-input-form {
	display: flex;
	flex-direction: row;
}
.cfe-input-list {
	display: flex;
	flex-direction: column;
}
button.cfe-remove-button {
	background-color: var(--exit-button-color);
}
.cfe-photoglyph {
	font-family: Photolang;
	border-radius: 1px;
	border-color: var(--popup-background-color);
}
.cfe-photoglyph:hover {
	background-color: var(--popup-background-color);
}
