.display-folder {
	display: flex;
	flex-direction: column;
}
.display-folder-header {
	display: flex;
	flex-direction: row;
}
.thumbnail-folder {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
